{% extends "layouts/default.njk" %}

{% block main_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Sorry, the service is unavailable
      </h1>
      <p class="govuk-body-m">You will be able to use the service later.</p>
      <p><a href="https://www.gov.uk/contact-companies-house">Contact Companies House</a> if you have any questions.</p>
    </div>
  </div>
{% endblock %}
