{% extends "layouts/default.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% set title = " Are you sure you want to sign out?" %}

{% block main_content %}
{% if noInputSelectedError %}
{% set detailsErrorMsg = {
    text: "Select yes if you want to sign out"
} %}

{{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
        {
        text: "Select yes if you want to sign out",
        href: "#yes"
        }
    ]
}) }}
{% else %}
{% set detailsErrorMsg = false %}
{% endif %}

<form action="/registered-email-address/signout" method="POST">
{{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "signout",
    name: "signout",
    errorMessage: detailsErrorMsg,
    fieldset: {
        legend: {
            html: "Are you sure you want to sign out?",
            classes: "govuk-fieldset__legend--l"
        }
    },
    hint: {
        text: "Your answers will not be saved. You will need to start again if you want to update a registered email address."
    },
    items: [
        {
            value: "yes",
            text: "Yes",
            attributes: {
                'data-event-id': 'signout-yes'
            }
        },
        {
            value: "no",
            text: "No",
            attributes: {
                'data-event-id' : 'signout-no'
            }
        }
    ]
    }) 
}} 
{{ govukButton({
    attributes: {
     'id' : 'submit',
      'data-event-id': 'signout-out-confirm-and-continue-button'
    },
    text: "Confirm and continue"
  }) }}
</form>
{% endblock %}
