{% extends "layouts/default.njk" %}

{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set title = "change-email-address" %}

{% block main_content %}
  {{
    govukBackLink({
      text: "Back",
      href: backUri
    })
  }}
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">
      
    </li>
    <li>
      <a href="javascript:void(0)" id="user-signout">Sign out</a>
    </li>
  </ul>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <label class="govuk-label" for="change-email-address">
        <h1 class="govuk-heading-xl">check your answer before sending your application</h1>
       </label>
      <form method="post">
        {{ govukSummaryList({
            rows: [
            {
              key: {
                text: "Company name"
              },
              value: {
                text: company.companyName
              }
            }]
          })
          <a href="javascript:void(0)">Change</a>
        }}
        {{ 
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          }) 
        }}
      </form>
    </div>
  </div>
{% endblock %}
