{% extends "layouts/default.njk" %}

{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set title = "Company Search" %}

{% block main_content %}
       <label class="govuk-label" for="company-number">
        <h1 class="govuk-heading-xl">What is the company number?</h1>
       </label>
       <div id="company-number-hint" class="govuk-hint">
        This is the 8 character reference issued by Companies House when the company
        was set up.
       </div>
      <form method="post">
        {{
          govukInput({
            describedBy: "company-number-hint",
            errorMessage: {
              text: errors.companyNumber
            } if errors.companyNumber,
            classes: "govuk-input--width-10",
            id: "company-number",
            name: "companyNumber",
            value: data.companyNumber
          })   
        }}

        {{  
          govukDetails({
            summaryHtml: '<div class="piwik-event" data-event-id="help-with-company-number-link"> Help with company number</div>',
            html: '<p>You can find it using the <a href="https://beta.companieshouse.gov.uk/" class="govuk-link piwik-event" data-event-id="companieshouse-service-link" rel="noreferrer noopener" target="_blank">Companies House Service (opens in a new tab)</a>.</p>'
          })
        }}

        {{ 
          govukButton({
            text: 'Continue',
            attributes: {
              'id' : 'submit',
              'data-event-id' : 'company-search-continue-button'
            }
          }) 
        }}
      </form>
{% endblock %}
