{% extends "layouts/default.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set title = "Confirm this is the correct company – Update a registered email address – GOV.UK" %}

{% block main_content %}
      <h1 class="govuk-heading-l">Confirm this is the correct company</h1>
      <form action="" method="post">

        {{ govukSummaryList({
          rows: [
          {
            key: {
              text: "Company name"
            },
            value: {
              text: company.companyName
            }
          },
            {
              key: {
                classes: "govuk-!-width-full",
                text: "Company number"
              },
              value: {
                text: company.companyNumber
              }
            },
            {
              key: {
                text: "Status"
              },
              value: {
                text: company.companyStatus
              }
            },
            {
              key: {
                text: "Incorporation date"
              },
              value: {
                text: company.dateOfCreation
              }
            },
            {
              key: {
                text: "Company type"
              },
              value: {
                text: company.type
              }
            },
            {
              key: {
                text: "Registered office address"
              },
              value: {
                html: address

              }
            }
          ]
        }) }}

        {% if notDueWarning %}
          {{ govukWarningText({
            html: notDueWarningHTML,
            iconFallbackText: "Warning"
          }) }}
        {% endif %}

        {{ govukButton({
          attributes: {
            id: "submit",
            "data-event-id": "confirm-and-continue-button"
          },
          text: "Confirm and continue"
        }) }}
      </form>
      <p class="govuk-body">
        <a href="/registered-email-address/company/number" class="govuk-link" data-event-id="choose-a-different-company-link">Choose a different company</a>
      </p>
{% endblock %}
