{% extends "layouts/default.njk" %}
{% block pageTitle %}
    Invalid Company
{% endblock %}

{% block signOut %}{% endblock %}

{% block main_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{pageHeader | safe}}
      </h1>
      {{pageBody | safe}}
    </div>
  </div>
{% endblock %}
