{% extends "layouts/default.njk" %}
{% block main_content %}
  <div class="govuk-grid-row">
      <h1 class="govuk-heading-xl">
        {{pageHeader | safe}}
      </h1>
      {{pageBody | safe}}
  </div>
{% endblock %}
