{% extends "layouts/default.njk" %}

{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set title = "change-email-address" %}

{% block main_content %}
  {{
    govukBackLink({
      text: "Back",
      href: backUri
    })
  }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <label class="govuk-label" for="change-email-address">
        <h1 class="govuk-heading-xl">What is the new registered email address?</h1>
       </label>
       <div id="change-email-address-hint" class="govuk-hint">
        The current registered email address is <b>{{companyEmailAddress}}</b>
       </div>
      <form method="post">
        {{
          govukInput({
            describedBy: "change-email-address-hint",
            errorMessage: {
              text: errors.changeEmailAddress
            } if errors.changeEmailAddress,
            classes: "govuk-input--width-10",
            id: "change-email-address",
            name: "changeEmailAddress",
            value: data.changeEmailAddress
          })   
        }}

        {{  
          govukDetails({
            summaryHtml: '<div class="piwik-event" data-event-id="help-with-change-email-address-link"> What is the registered email address used for?</div>',
            html: '<p>It is an email address that Companies House can use to contact the company or someone acting on its behalf.</p><p>In future we will start using it to send important information that relates to your company, for example filing reminders or warnings about missed deadlines.</p><p>It will not be shown on the public register.</p>'
          })
        }}

        {{ 
          govukButton({
            text: 'Continue',
            attributes: {
              id: 'submit'
            }
          }) 
        }}
      </form>
    </div>
  </div>
{% endblock %}
