{% extends "layouts/default.njk" %}

{% from 'govuk/components/breadcrumbs/macro.njk' import govukBreadcrumbs %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set title = "Check your answer – Update a registered email address – GOV.UK " %}

{% block main_content %}
       <label class="govuk-label" for="change-email-address">
        <h1 class="govuk-heading-xl">check your answer before sending your application</h1>
       </label>
       <p>New email address: <b>{{companyEmailAddress}}</b></p>
{% endblock %}
