{% if errors is not undefined and errors is not undefined and errors | length %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem with the details you gave us
    </h2>
  </div>
{% endif %}
