{{
    govukFooter({
      meta: {
        items: [
          {
            href: 'https://resources.companieshouse.gov.uk/serviceInformation.shtml',
            text: 'Policies'
          },
          {
            href: '/help/cookies',
            text: 'Cookies'
          },
          {
            href: '/help/contact-us',
            text: 'Contact us'
          },
          {
            href: 'https://developer.company-information.service.gov.uk/',
            text: 'Developers'
          },
          {
            href: "/registered-email-address/accessibility-statement",
            text: 'Accessibility statement'
          }
        ]
      }
    })
  }}

