  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/update-reg-email-addr-email-conf/">feedback</a> will help us to improve it.'
  }) }}
