{% if signoutBanner %}
{% if userEmail %}
{% set signoutURL = signoutURL | default("/registered-email-address/signout") %}
<div class="govuk-section-break--visible">
  <div class="sign-out-user-banner">
    <span id="signed_in_user_email" class="sign-out-user-banner__email">
      {{ userEmail }}
    </span>
    <a id="sign_out" class="sign-out-user-banner__sign-out-link govuk-link" href="{{signoutURL}}" data-event-id="signout-link">
      Sign out
    </a>
  </div>
</div>
{% endif %}
{% endif %}


