  {% if signoutBanner %}
  <div class="govuk-section-break--visible">
    <div class="sign-out-user-banner" style="display: flex; justify-content: space-between">
    <div>
    <span id="signed_in_user_email" class="sign-out-user-banner__email">
    {% if backUri %}
      {% block backLink %}
        {{
          govukBackLink({
            text: "Back",
            href: backUri,
            attributes: {
              'data-event-id' : 'back-link'
            }
          })
        }}
      {% endblock %}
    {% endif %}
    </span>
    </div>
    {% if userEmail %}
    <div style="margin-top: 13px">
      {% set signoutURL = signoutURL | default("/registered-email-address/signout") %}
      <span id="signed_in_user_email" class="sign-out-user-banner__email">
        {{ userEmail }}
      </span>
        <a id="sign_out" class="sign-out-user-banner__sign-out-link" style="margin-left: 15px" href="{{signoutURL}}" data-event-id="signout">
        Sign out
        </a>
    </div>
    {% endif %}
    </div>
  </div>
  {% endif %}
