{% extends "layouts/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block main_content %}
    <span class="govuk-caption-m">{{ companyName }} ({{ companyNumber }})</span>
    <h1 class="govuk-heading-xl">Check your answer before submitting this filing</h1>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                New registered email address
            </dt>

            <dd class="govuk-summary-list__value">
                {{ companyEmail }}
            </dd>

            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" data-event-id="change-registered-email-address-link" href="change-email-address">
                    Change<span class="govuk-visually-hidden"> email address</span>
                </a>
            </dd>

        </div>
    </dl>
    <form action="" method="post">
        {{ csrfTokenInput({ csrfToken: csrfToken }) }}

        {{ govukCheckboxes({
            errorMessage: {
                text: statementError
            } if statementError,
            name: "acceptAppropriateEmailAddressStatement",
            items: [
                {
                    value: "true",
                    text: statementText,
                    attributes: {
                    'data-event-id': 'accepted-registered-email-address-statement'
                }
                }
            ]
        }) }}

        {{ summaryHtml.content|safe }}
        {{ html.content|safe }}
        {{ govukDetails({
            summaryHtml: "<div class='piwik-event' data-event-id='help-with-change-email-address-link'>What does 'appropriate email address' mean?</div>",
            html: "<p>An email address is an 'appropriate email address' if, in the ordinary course of events, emails sent to it by the registrar would be expected to come to the attention of a person acting on behalf of the company.</p>"
        }) }}

        {{ govukButton({
            text: 'Continue',
            attributes: {
                id: 'submit',
                'data-event-id' : 'check-your-answer-continue-button'

            }
        }) }}
    </form>
{% endblock %}
